body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(
        108deg,
        rgba(1, 147, 86, 1) 0%,
        rgba(10, 201, 122, 1) 100%
    );
    color: #333;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.payment-form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.payment-form button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.payment-form button:hover {
    background-color: #45a049;
}

/* Animation for loading spinner */
.loading {
    display: none;
    margin-top: 20px;
    width: 50px;
    height: 50px;
    border: 3px solid #f3f3f3; 
    border-top: 3px solid #3498db;
    border-radius: 50%; 
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.check-mark {
    display: none;
    margin-top: 20px;
    width: 50px;
    height: 50px;
    background-image: url('https://www.freeiconspng.com/thumbs/checkmark-png/checkmark-png-5.png');
    background-size: cover;
}



/* nav */
.navbar {
    background: black;
    height: 80px;
    display: flex;
    align-items: center;
    font-size: 1rem;
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav-logo {
    color: #fff;
    justify-self: flex-start;
    cursor: pointer;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    margin-left: 24px;
    font-weight: bold;
    text-decoration: none;
}

body {
    margin: 0;
}

* {
    font-family: "Encode Sans Expanded", sans-serif;
}